{{>header}}
<div class="container row main">
    <div class="col s6 m6">
        <div class="card horizontal">
            <div class="card-image">
                <span class="color-student"></span>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Estudiantes</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6 m6">
        <div class="card horizontal">
            <div class="card-image">
                <div class="color-pay"></div>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Pagos</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}