{{>header}}
<script src="js/logIn.js"></script>
<div class="container ">
    <div class="row container">
        <div class="col s11 m11 ">
            <form id="fLogIn" action="/user/logIn" method="POST">
                <div class="card">
                    <div class="card-content hoverable">
                        <div class="row">
                            <div class="input-field col s10 m10">
                                <input placeholder="ej. Agapita@gmail.com" id="email" name="email" type="text"
                                    class="validate" />
                                <label for="email">Corre electronico</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10 m10">
                                <input placeholder="constraseña" id="password" type="password" name="password"
                                    class="validate" />
                                <label for="password">Contraseña</label>
                            </div>
                            {{#if messages.error }}
                            <div class="col s10 m10 error" id="dError">
                                {{messages.error}}
                            </div>
                            {{/if}}
                        </div>
                        <div class="row">
                            <button class="btn-acept btn waves-effect waves-green" id="aceptar">Aceptar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{>footer}}