<div class="modal-main">
    <h5>Alumno</h5>
    <div class="divider"></div>
    <div class="row main">
        <from class="col s12" id="formAlum">
            <div class="row">
                <div class="input-field col s4">
                    <input placeholder="Nombre Alumno" id="nombre" type="text" class="validate" />
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="Apellido Paterno" id="aPaterno" type="text" class="validate" />
                    <label for="aPaterno">Apellido Paterno</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="Apellido Materno" id="aMaterno" type="text" class="validate" />
                    <label for="aMaterno">Apellid Materno</label>
                </div>
            </div>
            <div class="row">
                {{!-- <div class="=input-field col s4">
                    <label for="fechaNacimiento">F.Nacimiento</label>
                    <input id="fechaNacimiento" type="date" class="validate" />
                </div>
                <div class="input-field col s4">
                    <input placeholder="Tutor" id="tutor" type="text" class="validate" />
                    <label for="tutor">Tutor</label>
                </div> --}}
                <div class="input-field col s4">
                    <input placeholder="ej. 1-A" id="grupo" type="text" class="validate" />
                    <label for="grupo">Grupo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 " id="contenedorHermanos">
                    <p>Hermanos </p>
                    <div class="chips chips-autocomplete">
                    </div>
                </div>
            </div>
            <button id="btnAgregar" class="btn-acept btn waves-effect waves-green right">Agregar</button>
            <button id="btnDelete" class="btn-error btn waves-effect waves-red red right">Eliminar</button>
        </from>
    </div>
</div>