<div class="modal-main">
    <h5>Agregar Pago</h5>
    <div class="divider"></div>
    <div class="row">
        <from class="col s12" id="formPago">
            <div class="row">
                <div class="input-field col s8 " id="contenedorHermanos">
                    <p>Alumno </p>
                    <div class="chips chips-initial" id="alumno">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s5">
                    <input placeholder="N.Folio" id="folio" type="text" class="validate" />
                    <label for="folio">N. Folio</label>
                </div>
                <div class="input-field col s5">
                    <input placeholder="$$$$" id="aportacion" type="text" class="validate" />
                    <label for="aportacion">Aportacion</label>
                </div>
            </div>
            <div class="row">
                <div class="=input-field col s4">
                    <label for="fecha">Fecha</label>
                    <input id="fecha" type="date" class="validate" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 " id="contenedorHermanos">
                    <p>Hermanos </p>
                    <div class="chips chips-autocomplete">
                    </div>
                </div>
            </div>
            <button id="btnAgregar" class="btn-acept btn waves-effect waves-green right">Agregar</button>
            <button id="btnDelete" class="btn-error btn waves-effect waves-red red right">Eliminar</button> 
        </from>
    </div>
</div>